body {
    background-color: aqua;
}

.anime {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.anime {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 20px;
}